
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style='color:red;'>
        <span class='glyphicon glyphicon-cog'>
        </span> Administration <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" id="admin-menu">
        <li class="dropdown-header">Section Gestion</li>
        <li><a href="~/Livres/Index" id="gestProduits">Gestion des Livres</a></li>
        <li><a href="~/Categories/Index" id="gestCategories">Gestion des Categories</a></li>
        <li><a href="~/Auteurs/Index" id="gestSousCategories">Gestion des Auteurs</a></li>
        <li><a href="~/Editeurs/Index" id="gestSousCategories">Gestion des Editeurs</a></li>
        <li><a href="?controller=sousCategorie&&action=index" id="gestSousCategories">Gestion des Emails</a></li>
        <li><a href="~/ApplicationUsers/Index">Gestion des utilisateurs</a></li>
        <li><a href="?controller=type_livraison&&action=index">Gestion des livraisons</a></li>
       
    </ul>
</li>
<style>
  
</style>