<head>
    <meta name="viewport" content="width=device-width" />
    <title>La librairie de DTI Rosemont</title>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<div class="container-fluid" style="padding:0px; ">

    <div id="monCarousel" class="carousel slide " data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#monCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#monCarousel" data-slide-to="1"></li>
            <li data-target="#monCarousel" data-slide-to="2"></li>
            <li data-target="#monCarousel" data-slide-to="3"></li>

        </ol>

        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img class="img-responsive" src="~/img/Carroussel/bib5.png">
                <div class="carousel-caption">
                    <h3>Vous trouvez une gamme des livres Informatique ici dans notre site</h3>
                </div>
            </div>

            <div class="item">
                <img class="img-responsive" src="~/img/Carroussel/bib1.jpg">
                <div class="carousel-caption ">
                    <h3>Le bon choix est visiter notre site</h3>
                </div>
            </div>

            <div class="item">
                <img class="img-responsive" src="~/img/Carroussel/bib2.jpg">
                <div class="carousel-caption ">
                    <h3>grace a notre site vous pouvez apprendre rapidement comment programmer</h3>
                </div>
            </div>

            <div class="item">
                <img class="img-responsive" src="~/img/Carroussel/bib4.jpg">
                <div class="carousel-caption ">
                    <h3>le monde informatique est tres vaste et notre site contient des livres informatique de qualite</h3>
                </div>
            </div>


        </div>

        <a class="left carousel-control" href="#monCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>

        </a>
        <a class="right carousel-control" href="#monCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>

    </div>
</div>