<!--


-->
   

<head>
    <meta name="viewport" content="width=device-width" />
    <title>La librairie de DTI Rosemont</title>

  
    <link rel="stylesheet" type="text/css" href="~/css/footer.css" asp-append-version="true" />
 

    <link href="~/css/style.css" rel="stylesheet" type="text/css" asp-append-version="true" />

</head>
   <footer>
        <div class="footer" id="footer">
            <div class="container-fluid" style="padding-left:50px;">
                <div class="row">

                    <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6" id="parafooter">
                        <h3> LibrairieDTICRosemont </h3>
                        <p>Lancée depuis 2022, LibrairieDTICRosemont </p>
                        <P>est un site en ligne ,qui  </P>
                        <P>propose des livres informatique dans le prêt à porter. </P>
                        <p>Vous y trouverez un large choix d'articles </p>
                        <P> de qualités et de methodologies différents.</P>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                        <h3>RENSEIGNEMENTS</h3>
                        <ul>
                         
                        <li>@Html.ActionLink("A PROPOS", "About", "Home")</li>
                            <li> <a href="#"> MENTIONS LEGALES </a> </li>
                            <li> <a href="#"> PLAN DU SITE </a> </li>
                           
                        <li>@Html.ActionLink("NOUS CONTACTER", "Contact", "Home")</li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> VOTRE COMPTE </h3>
                        <ul>
                            <li> <a href="#"> SE CONNECTER </a> </li>
                            <li> <a href="#"> PANIER </a> </li>
                            <li> <a href="#"> VOTRE LISTE DES VOEUX </a> </li>
                            <li> <a href="#"> VOS COMMANDES </a> </li>
                        </ul>
                    </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12">
                        <h3> newsletter </h3>
                        <ul>
                            <li>
                                <div class="input-append newsletter-box text-center">
                                    <input type="text" class="full text-center" placeholder="Email ">
                                    <button class="btn  btn-info" type="button"> envoyer<i class="fa fa-long-arrow-right"> </i> </button>
                                </div>
                            </li>
                        </ul>
                    <ul class="social-network social-circle">
                        <li><a href="https://www.facebook.com/sharer/sharer.php?u=" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/home?status=" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://plus.google.com/share?url=" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>


                    </div>
                </div>
                

            </div>

        </div>


<div class="footer-bottom">
    <div class="container">
        <p class="pull-left"> Copyright © Tous droits reserves Cours Applications Web 3, par Dini AhamadaS </p>
        <div class="pull-right">
            <ul class="nav nav-pills payments">
                <li><i class="fa fa-cc-visa"></i></li>
                <li><i class="fa fa-cc-mastercard"></i></li>
                <li><i class="fa fa-cc-amex"></i></li>
                <li><i class="fa fa-cc-paypal"></i></li>
            </ul>
        </div>
    </div>
</div>




    </footer>
 




