@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>Librairie du Département Techniques d'Informatique du Collège de Rosemont </h3>
<address>
    6400 16e Avenue, Montréal<br />
    QC H1X 2S9<br />
    <abbr title="Phone">Téléphone:</abbr>
    (514) 376-1620
</address>

<address>
   
    <strong>Support:</strong>   <a href="mailto:support@LibrairieDTICRosemont.qc.ca">support@LibrairieDTICRosemont.qc.ca</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@LibrairieDTICRosemont.qc.ca">marketing@LibrairieDTICRosemont.qc.ca"</a>
</address>
